html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
}
.search-menu {
    position: fixed;
    top: 40px;
    height: 70px;
    width: 100%;
    background: #fff;
    z-index: 2;
    border-bottom: 1px solid rgb(179,179,179);
}
.search-margin {
    position: absolute;
    height: 40px;
    width: 650px;
    top: 15px;
    left: calc(50% - 325px);
}
.search-margin input {
    height: 40px;
}
#content {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 110px;
    box-sizing: border-box;
    z-index: 1;
}

#content .left-margin {
    margin: 10px 0px 0px 95px;
}

#content .mid-margin {
    margin: 10px 50px 0px 50px;
}

#content .right-margin {
    margin: 10px 95px 0px 0px;
}

.list-item {
    width: 100%;
    height: 120px;
}
.list-item .img-margin {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 30px;
    text-align: center;
    border: solid #ddd 1px;
    border-radius: 5px;
}
.list-item .img-margin img{
    max-width: 148px;
    max-height: 98px;
    margin: auto;
}
.list-item > span {
    display: block;
    margin: 0px 0px 0px 200px;
    width: calc(100% - 200px);
}
.list-item span.title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
}
.list-item span.volume {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin-top: 10px;
}
.list-item span.price {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-top: 20px;
}
.list-item span.price span {
    font-size: 18px;
    color: red;
}
.list-item .num-margin {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
.list-item.isSelect {
    border-color: #f0ad4e;
    border-width: 2px;
}

#page-margin {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
