html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.menu {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #ffd161;
    text-align: center;
    box-sizing: border-box;
    padding-right: 150px;
}

.menu span.text {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    color: #aaa;
    float: right;
}

.menu span.text:hover {
    color: #20a0ff;
}

.menu .line {
    box-sizing: border-box;
    height: 40px;
    border-right: 1px solid rgba(32, 160, 255, 0.9);
    margin: 0px 10px;
}

#search {
    position: absolute;
    height: 40px;
    width: 500px;
    top: 0px;
    left: 30%;
    text-align: center;
}

#search .input-group {
    top: 3px;
}

.dlg {
    position: absolute;
    width: 400px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    background: rgba(200, 200, 200, 1);
    border: solid 1px #ffd161;
    z-index: 10;
    border-radius: 10px;
    visibility: hidden;
}

.dlg .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.dlg.show {
    visibility: visible;
}

.dlg .subtitle {
    margin-left: 40px;
    line-height: 50px;
    font-size: 24px;
    font-family: 'Microsoft Yahei';
    color: #3a90d0;
}

.dlg .input-margin {
    position: absolute;
    left: 40px;
    top: 50px;
    width: 320px;
}

.login-margin .input-margin {
    top: 80px;
}

.dlg .input-group {
    width: 100%;
    margin-bottom: 20px;
}

.dlg .input-group-addon {
    width: 85px;
}

.dlg .btn-submit {
    width: 320px;
}

#error-tips {
    position: absolute;
    background: rgba(255, 6, 6, 0.8);
    width: 200px;
    height: auto;
    border-radius: 10px;
    top: calc(50% - 50px);
    left: calc(50% + 250px);
    z-index: 1000;
    color: #000;
    padding: 10px;
    font-size: 18px;
    display: none;
}