@-webkit-keyframes tinydown {
    0%,
    5% {
        opacity: 0;
        -webkit-transform: translateY(-10px)
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(-10px)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes tinydown {
    0%,
    5% {
        opacity: 0;
        transform: translateY(-10px)
    }
    10% {
        opacity: 1;
        transform: translateY(-10px)
    }
    to {
        transform: translateY(0)
    }
}

@-webkit-keyframes falldown {
    form {
        -webkit-transform: translateY(-5px)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes falldown {
    form {
        transform: translateY(-5px)
    }
    to {
        transform: translateY(0)
    }
}

@-webkit-keyframes raiseup {
    from {
        -webkit-transform: translateY(5px)
    }
    to {
        -webkit-transform: translateY(0)
    }
}

@keyframes raiseup {
    from {
        transform: translateY(5px)
    }
    to {
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(-360deg)
    }
    100% {
        -webkit-transform: rotate(0)
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(-360deg)
    }
    100% {
        transform: rotate(0)
    }
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0)
    }
    75% {
        -webkit-transform: scale(1.1)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0)
    }
    75% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

@charset "UTF-8";
body {
    font: status-bar;
    font-size: 14px;
    line-height: 1.42858
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    margin: 0;
    font-weight: 400
}

body,
dd,
dl,
form,
ol,
p,
ul {
    margin: 0
}

ol,
ul {
    list-style-type: none;
    padding: 0
}

img {
    border: 0;
    vertical-align: bottom
}

button,
input,
select,
textarea {
    font-size: 1em;
    font-family: inherit;
    *font-family: 'microsoft yahei'
}

a,
a:hover {
    text-decoration: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

@charset "UTF-8";
.clearfix,
.fix,
.z,
div.dib {
    *zoom: 1
}

.ell,
.nowrap {
    white-space: nowrap
}

.dn {
    display: none
}

.di {
    display: inline
}

.db {
    display: block
}

.dib {
    display: inline-block
}

div.dib {
    *display: inline
}

.lh14 {
    line-height: 14px
}

.lh16 {
    line-height: 16px
}

.lh18 {
    line-height: 18px
}

.lh20 {
    line-height: 20px
}

.lh22 {
    line-height: 22px
}

.lh24 {
    line-height: 24px
}

.lh28 {
    line-height: 28px
}

.m0 {
    margin: 0
}

.ml1 {
    margin-left: 1px
}

.ml2 {
    margin-left: 2px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.mr1 {
    margin-right: 1px
}

.mr2 {
    margin-right: 2px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mt1 {
    margin-top: 1px
}

.mt2 {
    margin-top: 2px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mb1 {
    margin-bottom: 1px
}

.mb2 {
    margin-bottom: 2px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.p0 {
    padding: 0
}

.p1 {
    padding: 1px
}

.pl1 {
    padding-left: 1px
}

.pt1 {
    padding-top: 1px
}

.pr1 {
    padding-right: 1px
}

.pb1 {
    padding-bottom: 1px
}

.p2 {
    padding: 2px
}

.pl2 {
    padding-left: 2px
}

.pt2 {
    padding-top: 2px
}

.pr2 {
    padding-right: 2px
}

.pb2 {
    padding-bottom: 2px
}

.pl5 {
    padding-left: 5px
}

.p5 {
    padding: 5px
}

.pt5 {
    padding-top: 5px
}

.pr5 {
    padding-right: 5px
}

.pb5 {
    padding-bottom: 5px
}

.p10 {
    padding: 10px
}

.pl10 {
    padding-left: 10px
}

.pt10 {
    padding-top: 10px
}

.pr10 {
    padding-right: 10px
}

.pb10 {
    padding-bottom: 10px
}

.p15 {
    padding: 15px
}

.pl15 {
    padding-left: 15px
}

.pt15 {
    padding-top: 15px
}

.pr15 {
    padding-right: 15px
}

.pb15 {
    padding-bottom: 15px
}

.p20 {
    padding: 20px
}

.pl20 {
    padding-left: 20px
}

.pt20 {
    padding-top: 20px
}

.pr20 {
    padding-right: 20px
}

.pb20 {
    padding-bottom: 20px
}

.p30 {
    padding: 30px
}

.pl30 {
    padding-left: 30px
}

.pt30 {
    padding-top: 30px
}

.pr30 {
    padding-right: 30px
}

.pb30 {
    padding-bottom: 30px
}

.bgwh {
    background-color: #fff
}

.wh {
    color: #fff
}

.f0 {
    font-size: 0
}

.f12 {
    font-size: 12px
}

.f13 {
    font-size: 13px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f20 {
    font-size: 20px
}

.f24 {
    font-size: 24px
}

.f28 {
    font-size: 28px
}

.fa {
    font-family: Arial
}

.fs {
    font-family: Simsun
}

.fw {
    font-family: 'Microsoft Yahei'
}

.n {
    font-weight: 400;
    font-style: normal
}

.b {
    font-weight: 700
}

.i {
    font-style: italic
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.tj {
    text-align: justify
}

.tdl {
    text-decoration: underline
}

.tdn,
.tdn a:hover,
.tdn:hover,
a.tdl:hover {
    text-decoration: none
}

.lt-1 {
    letter-spacing: -1px
}

.lt0 {
    letter-spacing: 0
}

.lt1 {
    letter-spacing: 1px
}

.bk {
    word-wrap: break-word
}

.vm {
    vertical-align: middle
}

.vb {
    vertical-align: bottom
}

.vt {
    vertical-align: top
}

.vn {
    vertical-align: -5px
}

.l {
    float: left
}

.r {
    float: right
}

.cl {
    clear: both
}

.rel {
    position: relative
}

.abs,
.clip {
    position: absolute
}

.zx1 {
    z-index: 1
}

.zx2 {
    z-index: 2
}

.poi {
    cursor: pointer
}

.def,
.disabled {
    cursor: default
}

.ovh {
    overflow: hidden
}

.ova {
    overflow: auto
}

.vh {
    visibility: hidden
}

.vv {
    visibility: visible
}

.clearfix:after,
.fix:after {
    display: table;
    content: '';
    clear: both
}

.cell {
    display: table-cell;
    *display: inline-block;
    width: 2000px;
    *width: auto
}

.ell {
    text-overflow: ellipsis;
    overflow: hidden
}

.clip {
    clip: rect(0 0 0 0);
    *left: -99em
}

.auto {
    margin-left: auto;
    margin-right: auto
}

.middle {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle
}

.trans {
    -webkit-transition: all 250ms;
    transition: all 250ms
}

.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.disabled {
    opacity: .4;
    filter: alpha(opacity=40);
    -ms-pointer-events: none;
    pointer-events: none
}

@charset "UTF-8";
.dark,
body {
    color: #4c5161
}

.blue,
a,
a.dark:hover {
    color: #00a5e0
}

a:hover {
    color: #008cbf
}

.gray {
    color: #a2a9b6
}

.white {
    color: #fff
}

.green {
    color: #01cf97
}

.orange {
    color: #f28c48
}

.red {
    color: #f4615c
}

.light {
    color: #f7f9fa
}

@charset "UTF-8";
.table-null,
.table-vm {
    vertical-align: middle
}

.ui-table {
    width: 100%;
    line-height: 21px;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse\9;
    font-size: 14px
}

.ui-table th,
.ui-table thead td {
    line-height: 50px;
    background-color: #f7f9fa;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    margin: 0
}

.ui-table tbody td {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border-bottom: 1px solid #ededed
}

.ui-table td,
.ui-table th {
    padding: 0 20px
}

.ui-table tr {
    cursor: default
}

.ui-table tr:hover td {
    background-color: #f2fcff
}

.ui-table tr.selected td {
    background-color: #e0f7ff
}

.ui-table tr:last-child td {
    padding-bottom: 15px;
    border-bottom: 0
}

.ui-table div.ell {
    *width: 100%
}

.ui-table~.ui-loading {
    height: 300px
}

.table-x {
    box-shadow: 0 1px 3px rgba(0, 0, 1, .1);
    background-color: #fff;
    border: 1px solid #d0d0d5;
    border: 0 transparent
}

.table-error-x,
.table-null-x {
    height: 300px;
    text-align: center
}

.table-error-x {
    line-height: 300px
}

.table-null {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.table-null-icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center
}

.ui-loading-animation .table-error-x,
.ui-loading-animation .table-null-x,
.ui-loading-animation tbody {
    -webkit-animation: fadeIn .3s .1s both;
    animation: fadeIn .3s .1s both
}

.table-null-title {
    margin-top: 14px;
    font-size: 24px
}

.table-null-desc {
    margin-top: 7px;
    font-size: 14px
}

.table-vm {
    display: inline-block;
    width: 0;
    height: 100%
}

.table-page-x {
    height: 32px;
    padding: 10px 10px 8px 22px;
    margin-top: -1px;
    border-top: 1px solid #ededed;
    background-color: #f7f9fa;
    position: relative;
    *position: static
}

.table-page-data {
    float: left;
    line-height: 20px;
    padding-top: 5px;
    font-size: 14px
}

.table-num-length {
    margin: 0 3px
}

.table-page-every {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer
}

.table-page-every:hover {
    color: #00a5e0
}

.table-page {
    float: right;
    padding-top: 2px
}

.table-checkbox td:first-child,
.table-checkbox th:first-child {
    width: 20px;
    padding-right: 0;
    padding-left: 18px;
    text-align: right
}

.table-checkbox td:first-child+td,
.table-checkbox th:first-child+th {
    padding-left: 13px
}

.table-header {
    padding: 12px 20px
}

.table-title {
    line-height: 56px;
    font-size: 24px
}

.table-operate {
    line-height: 20px;
    padding: 18px 0;
    font-size: 16px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    *zoom: 1
}

.table-header>.table-operate {
    display: none
}

.checked>.table-operate {
    display: block
}

.checked>.table-title {
    display: none
}

.table-top-right {
    position: absolute;
    height: 40px;
    bottom: 13px;
    right: 0
}

.table-search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 220px;
    margin-right: 10px;
    vertical-align: top
}